<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 등록</title>
  <link rel="stylesheet" href="/css/common.css">
  <style>
    
  </style>
</head>
<body>
  <h3>게시글 등록</h3>
<!--  th:object html의 input요소와 controller의 form객체를 연결하는 구문 -->
  <form id='frm' action="" method="post" th:object="${saveForm}">
      <div><span class="err" id="globalErr"></span></div>
      <!--/* <div class="err" th:errors="${saveForm}"/> */-->
      <div th:if="${#fields.hasGlobalErrors()}">
        <p class="err" th:each="err:${#fields.globalErrors()}" th:text="${err}"></p>
      </div>
      <div>
        <label for="boardTitle">제목</label>
        <input type="text" name="boardTitle" id="boardTitle" th:value="*{boardTitle}">
        <span class="err" id="errTitle"></span>
        <!--/*<span class="err"  th:errors="${saveForm.pname}"></span>*/-->
        <!-- <span class="err"  th:each="err:${#fields.errors('boardTitle')}"  th:text="${boardTitle}"></span> -->
      </div>
      <div>
        <label for="boardContent">내용</label>
        <input type="text" name="boardContent" id="boardContent" th:value="*{boardContent}">
        <span class="err" id="errContent"></span>
        <!-- <span class="err"  th:errors="*{boardContent}"></span> -->
      </div>
      <div>
        <label for="boardWriter">작성자</label>
        <input type="text" name="boardWriter" id="boardWriter" th:value="*{boardWriter}">
        <span class="err" id="errWriter"></span>
        <!-- <span class="err" th:errors="*{boardWriter}"></span> -->
      </div>
      <div><button type="submit" id="btnAdd">등록</button><button type="button" id="btnFindAll">목록</button></div>
  </form>
  <script type="module">
    import {getBytesSize} from '/js/common.js';
    
    btnAdd.addEventListener('click', e=>{
      e.preventDefault(); 
      errTitle.textContent = '';
      errContent.textContent = '';
      errWriter.textContent = '';
  
      const titleVal = boardTitle.value.trim();
      const contentVal = boardContent.value.trim();
      const writerVal = boardWriter.value.trim();
  
      // 제목
      if(titleVal.length == 0){
        boardTitle.focus();
        errTitle.textContent = '제목은 필수로 입력해야합니다.';
        return;
      }else if(getBytesSize(titleVal) > 50){
        boardTitle.focus();
        errTitle.textContent = '제목은 한글 17자를 초과할 수 없습니다.';
        return;
      }
      // 내용
      if(contentVal.length == 0){
        boardContent.focus();
        errContent.textContent = '내용은 필수로 입력해야합니다.';
        return;
      }else if(getBytesSize(contentVal) > 900) {
        boardContent.focus();
        errContent.textContent = '내용이 300자 이상 초과할 수 없습니다.';
        return;
      }
      // 글쓴이
      if(writerVal.length == 0){
        boardWriter.focus();
        errWriter.textContent = '이름은 필수로 입력해야합니다.';
        return;
      }else if(getBytesSize(writerVal) > 30) {
        boardWriter.focus();
        errWriter.textContent = '이름이 10자 이상 초과할 수 없습니다.';
        return;
      }
      frm.submit();
    },  false);

    //목록
    btnFindAll.addEventListener('click',e=>{
      location.href = '/freeBoard';
    },false);
  </script>
</body>
</html>