<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판 목록</title>
  <link rel="stylesheet" href="/css/board/board.css">
</head>
<body>
  <form id='frm' action="/freeBoard/del" method="post">
    <table class="flex justify-center flex-col w-2/4">
      <caption>
        <h3>게시판</h3>
      </caption>
      <thead>
      <tr class="flex justify-between">
        <th class=""> </th>
        <th class="w-5/1">게시판ID</th>
        <th class="w-5/2">제목</th>
        <th class="w-5/1">글쓴이</th>
        <th class="w-5/1">작성일</th>
      </tr>
      <tbody>
        <tr th:each="board:${list}" class="flex justify-between">
            <td class="text-center"><input type="checkbox" name="boardIds" id="" th:value="${board.boardId}"></td>
            <td class="w-5/1 text-center" th:text="${board.boardId}">1</td>
            <td class="w-5/2 text-center"><a th:href="@{/freeBoard/{id}(id=${board.boardId})}"><span th:text="${board.boardTitle}">asdfsdfssdaf</span></a></td>
            <td class="w-5/1 text-center"><a th:href="@{/freeBoard/{id}(id=${board.boardId})}"><span th:text="${board.boardWriter}">asdada</span></a></td>
            <td class="w-5/1 text-center" th:text="${board.boardDate}">adsadadasd</td>
        </tr>
      </tbody>
    </thead>
    <caption class="caption-bottom">
      <div class="flex">
        <input type="checkbox" id="selectAll">
        <label for="selectAll">전체선택</label>
        <div class="flex justify-end">
          <button id="btnDels">삭제</button>
          <button id="btnAdd" type="button">작성</button>
        </div>
      </div>
    </caption>
  </table>
</form>
  <script>
    // 전체선택
    const selectAllEle = document.getElementById('selectAll');       
    selectAllEle.addEventListener('change',e=>{
      const checkboxesEle = document.querySelectorAll('input[name="boardIds"]');
      if(e.target.checked){
        Array.from(checkboxesEle).forEach(checkbox=>checkbox.checked = true);
      }else{
        Array.from(checkboxesEle).forEach(checkbox=>checkbox.checked = false);
      }
    },false);    

    // 삭제
    const btnDelsEle = document.getElementById('btnDels');
    btnDelsEle.addEventListener('click',e=>{
      if(!confirm('삭제하시겠습니까?')) return;
      document.getElementById('frm').submit();
    },false);

    // 상품등록
    const btnAdd = document.getElementById('btnAdd');
    btnAdd.addEventListener('click',e=>{
      location.href = '/freeBoard/add';
    },false);
  </script>
  <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>